<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="Connection" connectionString="Server=DESKTOP-TH53ANN;Database=UserManagementDB;Trusted_Connection=True;Integrated Security=true;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>